<img src="carro.jfif"/>

<center><h1 style="color:#FF7F50">Analisis de datos</h1> </center> 
<center><h5 style="color:#8B008B">Universidad Castro Carazo</h1> </center> 
<center><h6 style="color:##ADFF2F">IC-2023</h1> </center> 
</br>
<p style= "text-align:justify"> Este notebook contiene el analisis de los datos de los vehiculos a la venta por parte de la empresa Pk2, esta empresa se encuentra interesada en responder una pregunta de negocio particular.Como se puede incrementar las ventas de autos de segunda mano? Para esto se realiza un analisis del conjunto de datos facilitado por la empresa a efectos de poder brindar conocimiento sobre las ditribuciones de sus lotes de venta, los autos con mayor precio, o caracteristicas de los autos, esto para dotar de insumos suficientes a la toma de desiciones.</p>
</br>
<a href="https://archive.ics.uci.edu/ml/datasets/Automobile"> Fuente de datos para el proceso de análisis </a>

<h2 style=color: #008B8B>l. Cargar y estandarizar  los set de datos </h2>
</br>
<p> ¿Que se hace en esta etapa? </p>
</br>
<ol>
    <li>Importar librerías necesarias</li>
    <li>Importar el o los sets de datos</li>
    <li>Revisar los encabezados de DataFrames</li>
    <li>Si solo se tiene,os más de 1 set de datos, los vamos a unir en uno solo</li>
 </ol>
 <h3 style="color:#6495ED" > 1.1 Importar las librerías de Pyhton necesarias </h3>

In [1]:
import pandas as pd #Se usa para el manejo de grandes volumenes de datos-DataFrame.
import numpy as np #Se usa para el manejo de datos: Tuplas, listas, Dicciomarios.
import matplotlib.pyplot as plt #Permite crear gráficos.

<h3 style ="color:#696969" > 1.2 Importar el o los sets de datos </h3>

In [2]:
cols = ["symboling", "normalized", "make", "fuel", "aspiration", "doors",
       "style", "wheels", "engine", "base", "length", "width", "heingt",
       "curb", "engineType", "Cylinders", "engine-size", "system", "Bore", "stroke",
       "compression", "horsepower", "peak", "City", "Higway", "price"]
df_1er_set=pd.read_csv("autos.csv", names =cols)
df_2do_set=pd.read_csv("Autos1.csv", names =cols)

In [3]:
df_1er_set.head (5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,Bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [4]:
df_1er_set.shape #saber el tamaño de la data

(197, 26)

In [5]:
df_1er_set.tail(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,Bore,stroke,compression,horsepower,peak,City,Higway,price
192,0,?,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,97,idi,3.01,3.40,23.0,68,4500,33,38,13845
193,0,?,volkswagen,gas,std,four,wagon,fwd,front,100.4,...,109,mpfi,3.19,3.40,9.0,88,5500,25,31,12290
194,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,12940
195,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415
196,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985

In [6]:
df_1er_set.describe()

,symboling,base,length,width,heingt,curb,engine-size,compression,City,Higway
count,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000
mean,0.913706,98.409645,173.450254,65.812690,53.628934,2534.796954,126.263959,10.128020,25.416244,30.984772
std,1.202746,5.866965,12.213912,2.128306,2.438891,520.401159,42.282594,3.934467,6.566717,6.908644
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.000000,52.000000,2140.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,96.500000,172.600000,65.400000,53.900000,2405.000000,110.000000,9.000000,25.000000,30.000000
75%,2.000000,100.400000,178.500000,66.500000,55.500000,2844.000000,141.000000,9.400000,30.000000,36.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [7]:
df_1er_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   symboling    197 non-null    int64
 1   normalized   197 non-null    object
 2   make         197 non-null    object
 3   fuel         197 non-null    object
 4   aspiration   197 non-null    object
 5   doors        197 non-null    object
 6   style        197 non-null    object
 7   wheels       197 non-null    object
 8   engine       197 non-null    object
 9   base         197 non-null    float64
 10  length       197 non-null    float64
 11  width        197 non-null    float64
 12  heingt       197 non-null    float64
 13  curb         197 non-null    int64
 14  engineType   197 non-null    object
 15  Cylinders    197 non-null    object
 16  engine-size  197 non-null    int64
 17  system       197 non-null    object
 18  Bore         197 non-null    object
 19  stroke       197 non-null    object
 20  compression  197 non-null    float64
 21  horsepower   197 non-null    object
 22  peak         197 non-null    object
 23  City         197 non-null    int64
 24  Higway       197 non-null    int64
 25  price        197 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 40.1+ KB

<h3 style="color: #6995ED">l. Revisar los encabezados de los Data Frames </h3>
</br>
<p> Se motiva la estandarización de los nombres de las columnas, considerando lo siguiente:
</p>

<ol>
    <li>Los nombres de las columnas no deben contener espacios en blanco</li>
    <li>Los nombres no deben empezar por números</li>
    <li>Si el nombre se conforma por 2 o más palabras la letra inicial de cada palabra va en mayúscula</li>
    <li>No debe exisitir nombres repetidos</li>
 </ol>

In [8]:
df_1er_set.columns

Index(['symboling', 'normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'Cylinders', 'engine-size', 'system', 'Bore',
       'stroke', 'compression', 'horsepower', 'peak', 'City', 'Higway',
       'price'],
      dtype='object')

In [9]:
df_2do_set.columns

Index(['symboling', 'normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'Cylinders', 'engine-size', 'system', 'Bore',
       'stroke', 'compression', 'horsepower', 'peak', 'City', 'Higway',
       'price'],
      dtype='object')

In [10]:
df_1er_set.rename({'engine-size':'engineSize'}, axis=1, inplace=True) #inplace=true es para que se mofifiquen las palabras y quede aplicada la instrucción
df_2do_set.rename({'engine-size':'engineSize'}, axis=1, inplace=True)
df_1er_set.head (2)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,Bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500

In [11]:
df_2do_set.head (2)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,Bore,stroke,compression,horsepower,peak,City,Higway,price
0,2,134,toyota,gas,std,two,hardtop,rwd,front,98.4,...,146,mpfi,3.62,3.5,9.3,116,4800,24,30,9639
1,2,134,toyota,gas,std,two,hatchback,rwd,front,98.4,...,146,mpfi,3.62,3.5,9.3,116,4800,24,30,9989

<h3 Style ="color:#696969" >1.4) Unir los set de datos</h3>

In [15]:
unionArchivos = [df_1er_set, df_2do_set]
dfAutos = pd.concat (unionArchivos)
dfAutos.shape
#se pueden unificar n cantidad de datos aunque estos sean diferentes, la opción concatena los datos

(226, 26)

<h2 style= color: #008B8B> 2. Manejo de los valores faltantes o perdidos </h2>
</br>
<p> ¿Que se hace en esta etapa? </p>
</br>
<ol>
    <li>Identificar como se muestran los valores faltantes y estandarizarlos</li>
    <li>Contar la cantidad de los valores faltantes por variable</li>
    <li>Analizar la imputación de los valores numéricos (con la media)</li>
    <li>Analizar la imputación de los valores categóricos (con valor más frecuente )</li>
    <li>Eliminar filas de valores faltantes</li>
 </ol>
 <h3 style="color:#6495ED" > 2.1 Indentificar como se nuestran los valores faltantes </h3>

In [17]:
dfAutos

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,Bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24,0,?,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,97,idi,3.01,3.4,23.0,68,4500,33,38,13845
25,0,?,volkswagen,gas,std,four,wagon,fwd,front,100.4,...,109,mpfi,3.19,3.4,9.0,88,5500,25,31,12290
26,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,12940
27,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415
28,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985

In [18]:
dfAutos.replace ('?', np.nan, inplace=True)
dfAutos.head (5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,Bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

 <h3 style="color:#6495ED" > 2.2 Contar la cantidad de valores faltantes </h3>

In [19]:
dfValoresFaltantes=dfAutos.isnull()
dfValoresFaltantes.head(3)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,Bore,stroke,compression,horsepower,peak,City,Higway,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [20]:
for column in dfValoresFaltantes.columns.values.tolist():
    print (column)
    print (dfValoresFaltantes[column].value_counts())
    print(" ")

symboling
False    226
Name: symboling, dtype: int64

normalized
False    180
True      46
Name: normalized, dtype: int64

make
False    226
Name: make, dtype: int64

fuel
False    226
Name: fuel, dtype: int64

aspiration
False    226
Name: aspiration, dtype: int64

doors
False    224
True       2
Name: doors, dtype: int64

style
False    226
Name: style, dtype: int64

wheels
False    226
Name: wheels, dtype: int64

engine
False    226
Name: engine, dtype: int64

base
False    226
Name: base, dtype: int64

length
False    226
Name: length, dtype: int64

width
False    226
Name: width, dtype: int64

heingt
False    226
Name: heingt, dtype: int64

curb
False    226
Name: curb, dtype: int64

engineType
False    226
Name: engineType, dtype: int64

Cylinders
False    226
Name: Cylinders, dtype: int64

engineSize
False    226
Name: engineSize, dtype: int64

system
False    226
Name: system, dtype: int64

Bore
False    222
True       4
Name: Bore, dtype: int64

stroke
False    222
True       4
Name: stroke, dtype: int64

compression
False    226
Name: compression, dtype: int64

horsepower
False    224
True       2
Name: horsepower, dtype: int64

peak
False    224
True       2
Name: peak, dtype: int64

City
False    226
Name: City, dtype: int64

Higway
False    226
Name: Higway, dtype: int64

price
False    222
True       4
Name: price, dtype: int64

In [ ]:
#Revisión de los datos faltantes (dominios)
#Los datos faltantes serán True y los no faltantes False

#normalized= int
#Doors= caracter
#Bore = float
#Stroke= float
#Horsepower = int (aunque sea un int siempre se pone float para que sea decimal)
#Peak= int
#Price = float
#Se analiza la media de los valores faltantes en el caso de que la empresa no pueda proporcionarlos, para lograr completar la data.

 <h3 style="color:#6495ED" > 2.3 Analizar la imputación de valores numéricos </h3>

In [21]:
mean_value = dfAutos['normalized'].astype('float').mean(axis=0)
print ("La media de normalized es: ", mean_value)

La media de normalized es:  122.28333333333333

In [24]:
mean_value = dfAutos['Bore'].astype('float').mean(axis=0)
print ("La media de normalized es: ", mean_value)

La media de normalized es:  3.319459459459461

In [29]:
mean_value = dfAutos['stroke'].astype('float').mean(axis=0)
print ("La media de normalized es: ", mean_value)

La media de normalized es:  3.2785135135135075

In [27]:
mean_value = dfAutos['horsepower'].astype('float').mean(axis=0)
print ("La media de normalized es: ", mean_value)

La media de normalized es:  102.98214285714286

In [28]:
mean_value = dfAutos['peak'].astype('float').mean(axis=0)
print ("La media de normalized es: ", mean_value)

La media de normalized es:  5100.892857142857

In [31]:
dfAutos ['normalized'].replace(np.nan, 122, inplace=True)
dfAutos ['Bore'].replace(np.nan, 3.31, inplace=True)
dfAutos ['stroke'].replace(np.nan, 3.27, inplace=True)
dfAutos ['horsepower'].replace(np.nan, 102, inplace=True)
dfAutos ['peak'].replace(np.nan, 5100, inplace=True)
dfAutos.head(3)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,Bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500

 <h3 style="color:#6495ED" > 2.4 Analizar la imputación de valores caracter con el dato más frecuente </h3>

In [32]:
dfAutos ['doors'].value_counts().idxmax()

'four'

In [34]:
dfAutos['doors'].replace(np.nan,'four', inplace=True) #coloca el dato más freceunte en caracter y al enocntrarlo da como resultado la cantidad en caracter
dfAutos.head(4)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,Bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950

<h3 style="color:#6495ED" > 2.5 Eliminar filas con valores faltantes </h3>

In [ ]:
#Siempre se eliminan filas nunca columnas, solo que tenga un alto porcentaje de datos faltantes

In [35]:
dfAutos.dropna(subset=['price'], axis=0, inplace= True)
dfAutos.reset_index (drop=True, inplace=True) #borrar el indice y las filas de la data
#Elimina la fila que esta con valores faltantes de la fila "price"

In [37]:
dfValoresFaltantes=dfAutos.isnull()
for column in dfValoresFaltantes.columns.values.tolist():
    print (column)
    print (dfValoresFaltantes[column].value_counts())
    print(" ")

symboling
False    222
Name: symboling, dtype: int64

normalized
False    222
Name: normalized, dtype: int64

make
False    222
Name: make, dtype: int64

fuel
False    222
Name: fuel, dtype: int64

aspiration
False    222
Name: aspiration, dtype: int64

doors
False    222
Name: doors, dtype: int64

style
False    222
Name: style, dtype: int64

wheels
False    222
Name: wheels, dtype: int64

engine
False    222
Name: engine, dtype: int64

base
False    222
Name: base, dtype: int64

length
False    222
Name: length, dtype: int64

width
False    222
Name: width, dtype: int64

heingt
False    222
Name: heingt, dtype: int64

curb
False    222
Name: curb, dtype: int64

engineType
False    222
Name: engineType, dtype: int64

Cylinders
False    222
Name: Cylinders, dtype: int64

engineSize
False    222
Name: engineSize, dtype: int64

system
False    222
Name: system, dtype: int64

Bore
False    222
Name: Bore, dtype: int64

stroke
False    222
Name: stroke, dtype: int64

compression
False    222
Name: compression, dtype: int64

horsepower
False    222
Name: horsepower, dtype: int64

peak
False    222
Name: peak, dtype: int64

City
False    222
Name: City, dtype: int64

Higway
False    222
Name: Higway, dtype: int64

price
False    222
Name: price, dtype: int64